html {
    height: 100%;
}

body {
    background: #3c4d65;
    height: 100%;
}

.current {
    color: #dce7e9;
}

.old {
    color: #c2d168;
    font-size: 53px;
}

h3 {
    font-size: 63px;
    /*text-align: justify;
    width: 75%;
    margin: 0 auto;
    text-align-last: justify;*/
}

.disclaimer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #3c4d65;
    text-align: center;
    padding: 13px 0;
    color: white;
    opacity: 0.8;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,3c4d65+100 */
background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, rgba(0, 0,0 , 0) 0%, #3c4d65 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0, 0,0 , 0) 0%,#3c4d65 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0, 0,0 , 0) 0%,#3c4d65 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

/* Animation */
.example3 {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.example3 .toscroll {
    position: absolute;
    width: 100%;
    height: 80px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    transform:translateY(10000%);
    /* Apply animation to this element */
    -moz-animation: example3 15s linear infinite;
    -webkit-animation: example3 15s linear infinite;
    animation: example3 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example3 {
    100%   { -moz-transform: translateY(-100%); }
    0% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example3 {
    100%   { -webkit-transform: translateY(-100%); }
    0% { -webkit-transform: translateY(100%); }
}
@keyframes example3 {
    100%   {
        -moz-transform: translateY(-100%); /* Firefox bug fix */
        -webkit-transform: translateY(-100%); /* Firefox bug fix */
        transform: translateY(-80px);
    }
    0% {
        -moz-transform: translateY(100%); /* Firefox bug fix */
        -webkit-transform: translateY(100%); /* Firefox bug fix */
        transform: translateY(1200px);
    }
}
